[package]
name = "fregate"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[workspace]
members = ["examples/*"]

[dependencies]
axum = { version = "0.5.7", features = ["headers", "http1", "http2", "json", "matched-path", "original-uri"] }
bytes = "1"
config = "0.13.1"
http-body = "0.4.4"
hyper = { version = "0.14", features = ["full"] }
thiserror = "1.0.31"
once_cell = "1.13.0"
metrics = "0.20.1"
metrics-exporter-prometheus = "0"
mime = "0.3.16"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
prost = "0.11.0"
tokio = { version = "1.0", features = ["full"] }
tonic = "0.8.0"
tower = { version = "0.4", features = ["full"] }
tower-http = { version = "0.3", features = ["full"] }
tracing = "0.1"
tracing-subscriber = { version = "0.3.11", features = ["env-filter", "fmt", "json", "time", "tracing-log"] }
